<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ (stock | async)?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showOptions()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <img [src]="(stock | async)?.picture || placeholderPicture" (click)="uploadPicture()" />
    <span *ngIf="!(stock | async)?.picture">
      Click para subir foto
    </span>
    <ion-card>
      <ion-card-header> Stock Information </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-icon color="secondary" name="information-circle" slot="end">
          </ion-icon>
          <ion-label> {{ (stock | async)?.name }} </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="favorite" name="cash" slot="end"></ion-icon>
          <ion-label> {{ (stock | async)?.amount }} </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="secondary" name="calendar" slot="end"></ion-icon>
          <ion-label> <strong>{{ (stock | async)?.dueDate }}</strong>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="(stock | async)?.paid == true">
          <ion-icon color="favorite" name="checkmark" slot="end"></ion-icon>
          <ion-label> This stock is paid. </ion-label>
        </ion-item>
        <ion-item *ngIf="(stock | async)?.paid == false">
          <ion-icon color="danger" name="timer" slot="end"></ion-icon>
          <ion-label> You haven't paid this stock. </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-content>