<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/stock-create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- home.page.html file will show two lists, one list will show the unpaid stocks, and the other one will show the stocks that are already paid.
They will look almost the same, except that the paid stocks will not show due date and will have a green check-mark icon instead of the red alert icon. -->

<ion-content>
  <ion-list>
    <ion-list-header> UnPaid stocks </ion-list-header>
    <ion-item *ngFor="let stock of stockList | async" (click)="moreStockOptions(stock.id)" [class.hide]="stock.paid === true">
      <ion-icon name="timer" color="danger" slot="end"></ion-icon>
      <ion-label>
        <h2>{{stock.name}}</h2>
        <h3>Total: <strong>${{stock.amount}}</strong></h3>
        <p>Pay before: <strong>{{stock.dueDate}}</strong></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> Paid Stock </ion-list-header>
    <ion-item *ngFor="let stock of stockList | async" routerLink="/stock-detail/{{stock.id}}" [class.hide]="stock.paid === false">
      <ion-icon name="checkmark" color="secondary" slot="end"></ion-icon>
      <ion-label>
        <h2>{{stock.name}}</h2>
        <h3>Total: <strong>${{stock.amount}}</strong></h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>